<div class='options'>
    <mat-slide-toggle #showExamsToggle [checked]='showExamsState' (change)='showExamsToggled()'>Show Exams</mat-slide-toggle>
    <mat-slide-toggle #showLecturesToggle [checked]='showLecturesState' (change)='showLecturesToggled()'>Show Lectures</mat-slide-toggle>
</div>

<dx-scheduler [dataSource]="calendarEvents" [views]='["day", "week", "month","agenda"]' [editing]="editSettings"
    currentView="day" [currentDate]="currentDate" [startDayHour]="8" [endDayHour]="20" [firstDayOfWeek]="0"
    [height]='600'>
</dx-scheduler>
