.options {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-content: baseline;
    justify-content: flex-start;
    margin: 12px 0px;
}

mat-slide-toggle {
    margin: 0px 12px;
}