.course-item {
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.course-item-expanded-details {
    margin: 6px;
    display: flex;
    justify-content: space-between;
}

.course-item-links {
    margin: 6px;
}