.course-item {
    margin: auto;
    margin-bottom: 12px;
}

.course-item-expanded-details {
    margin: 6px;
    display: flex;
    justify-content: space-between;
}

.course-item-links {
    margin: 6px;
}

a {
    color: #ffffff;
}

.course-actions-bar {
    display: flex;
    justify-content: flex-end;

    a {
        cursor: pointer;
    }
}